[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
yapf = "*"

[packages]
pygments = "*"
aiohttp = "*"
pillow = "*"
pytest = "*"

[requires]
python_version = "3.8"
